#spanner {
  height:100px;
}

#ruler {
  position: relative;
}

#spans {
  clear: both;
  position: relative;
}

.ruler_block {
  float:left;
  padding:1px;
  width:8px;
  height:20px;
  background-color:#cccccc;
  border-top:1px solid;
  border-bottom:1px solid;
}

.ruler_block .inner {
  background-color:#ffffff;
  height:20px;
}

.mark_div {
  float:left;
  width:1px;
  height:24px;
  background-color:#777777;
}

.mark_div.tall {
  height:35px;
  background-color:#000000;
}

.span {
  position: absolute;
  background-color: #cccccc;
  height: 20px;
  top: 0px;
  padding: 1px;
}

.span .inner {
  background-color: #ffffff;
  height: 20px;
}

.span .inner.selected {
  background-color: #ccffff;
}

.span_div {
  position:absolute;
  width:1px;
  top:0px;
  height:35px;
  background-color:#000000;
}

.handle {
  position:absolute;
  width:8px;
  height:8px;
  border:1px solid;
  background-color:#bb0000;
  left:-4px;
  top:40px;
}