#ruler {
  position: relative;
}

#spans {
  
}

.ruler_block {
  float:left;
  padding:1px;
  width:8px;
  height:20px;
  background-color:#cccccc;
  border-top:1px solid;
  border-bottom:1px solid;
}

.ruler_block .inner {
  background-color:#ffffff;
  height:20px;
}

.mark_div {
  float:left;
  width:1px;
  height:24px;
  background-color:#777777;
}

.mark_div.tall {
  height:35px;
  background-color:#000000;
}